/*ESTILO DE TODA LA PAGINA*/
*{
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family:'Muli',sans-serif;
  margin: 0 auto;
}
.container{
  width: 100%;
}
/*ESTILO EN DEGRADE DE LA PAGINA*/
header{
  text-align: center;
	background: radial-gradient(50% 50%,#fff, pink);
}
/*tamaño del icono*/
header img{
  width: 100px;
  height: 100px;
  position: relative;
  top: -13px;
}
/*diseño de libreria lablic*/
h1{
  font-family: 'Lobster', sans-serif;
  color: black;
  display: inline-block;
  margin-top: 40px;
}

.nav-link{
  color:black;
  font-family:'Literata', serif;
}

.btn-outline-success{
  color: black;
  border-color: black;
}
.navbar-brand {
  font-family:'Literata', serif;
}
.nav-link{
  font-family:'Literata', serif;
}
.dropdown-menu .dropdown-item {
  font-family:'Literata', serif;
}
.btn-group{
  float: right;
}
/*color boton busqueda y de boton ver productos*/
.btn-primary {
    color: #fff;
    background-color: pink;
    border-color: darkgrey;
}
/*boton de compra*/
.btn-compra{
  float: right;
  background-color: transparent;
}

/*diseño carrusel*/

.carousel-inner{
  height:400px;
}

.carrousel-item img{
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*ESTILO DE PAGINA LOGIN*/
.login, .registro{
  font-family:'Literata', serif;
  text-align: center;
  margin-top: 95px;
  color: black;
  background-color: black;
  padding: 5px;
  font-size: 18px;
}
.boton-ingresar, .boton-volver{
  background-color: pink;
  border-color: gold;
}
input{
  font-family:'Literata', serif;
}

button{
  font-family:'Literata', serif;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 18px;
}
h2{
  text-align: center;
  padding: 15px;
}
h5{
  text-align: center;
}
/*SECCIÓN PAPELERÍA*/
footer{
  border-top: 2px solid pink;
  margin-top: 55px;
  height: 100px;
}
h6{
  text-align: center;
}
.sociales{
  text-align: center;
}
.sociales button{
  background-color: pink;
  border-radius: 50%;
  border-color: gold;

}
h4{
  font-size: 15px;
  text-align: center;
}
.ubicacion p{
  font-size: 12px;
  text-align: center;
  margin: 2px;
}
.encabezado-contacto, .contenedor-contacto, form{
  display: block;
}
.contenedor-contacto form{
  width: 50%;

}

.formulario label{
  text-align: left;
}
.formulario input{
  width: 100%;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}
.formulario input, .formulario textarea {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
  }
.boton-enviar,{
  background-color: pink;
  border-color: gold;
  width: 100%;
}
.contenedor-form img{
  float: right;
  width: 520px;
  height: 400px;
  margin-top: -450px;
}

/*SECCION FAQ*/
.pregunta{
  text-align: left;

}