/*ESTILO DE TODA LA PAGINA*/
*{
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family:'Muli',sans-serif;
}
.container{
  width: 800%;
  margin: 0 auto;
}
/*ESTILO EN DEGRADE DE LA PAGINA*/
header{
  text-align: center;
  background: -moz-radial-gradient(50% 50%, #fff, #4a8c8d);
	background: -webkit-radial-gradient(50% 50%, #fff, #00ced1);
	background: -o-radial-gradient(50% 50%, #fff, #00ced1);
	background: -ms-radial-gradient(50% 50%,#fff, #00ced1);
	background: radial-gradient(50% 50%,#fff, pink);
}
/*tamaño del icono*/
header img{
  width: 100px;
  height: 100px;
}
/*diseño de libreria lablic*/
h1{
  font-family: 'Lobster', sans-serif;
  color: black;
  display: inline-block;
  margin-top: 40px;
}

.nav-link{
  color:black;
  font-family:'Literata', serif; 
}

.btn-outline-success{
  color: black;
  border-color: black;
}
.navbar-brand {
  font-family:'Literata', serif;
}
.nav-link{
  font-family:'Literata', serif;
}
.dropdown-menu .dropdown-item {
  font-family:'Literata', serif;
}



/*diseño carrusel*/

.carousel-inner{
  height:300px;
}

.carrousel-item img{
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*ESTILO DE PAGINA LOGIN*/
.login, .registro{
  font-family:'Literata', serif;
  text-align: center;
  margin-top: 95px;
  color: black;
  background-color: black;
  padding: 5px;
  font-size: 18px;
}

input{
  font-family:'Literata', serif;
}

button{
  font-family:'Literata', serif;
  text-align: center;
  color: white;
  background-color: grey;
  padding: 5px;
  font-size: 18px;
}

/*SECCIÓN PAPELERÍA*/
section {
display: flex;
}
section {
  justify-content:space-evenly;
}

