/*ESTILO DE TODA LA PAGINA*/
*{
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
  font-family:'Muli',sans-serif;
  margin: 0 auto;

}
.container{
  width: 100%;
}
/*ESTILO EN DEGRADE DE LA PAGINA*/
header{
  text-align: center;
	background: radial-gradient(50% 50%,#fff, pink);
}
/*tamaño del icono*/
header img{
  width: 100px;
  height: 100px;
  position: relative;
  top: -13px;
}
/*diseño de libreria lablic*/
h1{
  font-family: 'Lobster', sans-serif;
  color: black;
  display: inline-block;
  margin-top: 40px;
}

h1 a:hover  {
text-decoration-line: none;
color: black;
}



.nav-link{
  color:black;
  font-family:'Muli', serif;
}

.btn-outline-success{
  color: black;
  border-color: black;
}
.navbar-brand {
  font-family:'Muli', serif;
}
.nav-link{
  font-family:'Muli', serif;
}
.dropdown-menu .dropdown-item {
  font-family:'Muli', serif;
}
.btn-group{
  float: right;
}
.card{
box-shadow: 0 8px 15px lightgray;
border-radius: 10px;
transition:opacity .5s
}

/*IMG*/
.card-img-top:hover{
  -webkit-transform: scale(1.09, 1.09);
  -webkit-transition-timin-function: ease-out;
  -webkit-transition-duration: 500ms;
  -moz-transform: scale(1.09, 1.09);
  -moz-transition-timin-function: ease-out;
  -moz-transition-duration: 500ms;
}

/*ventana usuario*/
.vent-user{
  position: absolute;
  top: 0px;
  left: 0px;

}
/*color boton busqueda y de boton ver productos*/
.btn-primary{
    color: #fff;
    background-color: pink;
    border-color: darkgrey;
    text-shadow: 4px 3px 2.5px darkgrey;
}

.btn-primary:hover{
  background-color: white;
  color: hotpink;
  border: 0.5px solid black;
}

.button-link{
  text-align: center;
}

.button-link_2{
  text-align: center;
  position: relative;
  bottom: -20px;
}

.card{
  transition-property: opacity;
  transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: 0s;
}

.card-text{
  text-align: center;
}


/*boton de compra*/
.btn-compra{
  float: right;
  background-color: transparent;
}
main{
  margin: 17px;
  justify-content: center;
}

section {
  margin-left: 70px;
  margin-right: 70px;
}
/*diseño carrusel*/

.carousel-inner{
  height:400px;
}

.carrousel-item img{
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*ESTILO DE PAGINA LOGIN*/
.login, .registro{
  font-family:'Muli', serif;
  text-align: center;
  margin-top: 95px;
  color: black;
  background-color: black;
  padding: 5px;
  font-size: 18px;
}
input{
  font-family:'Muli', serif;
}

button{
  font-family:'Muli', serif;
  text-align: center;
  color: black;
  padding: 5px;
  font-size: 18px;
}

h2{
  text-align: center;
  padding: 15px;
  text-shadow: 2px 1px rgb(128, 124, 124);
  letter-spacing: 5px;
}

h5{
  text-align: center;
}
/*SECCIÓN PAPELERÍA*/
h6{
  text-align: center;
}
.sociales{
  text-align: center;
}

.ubicacion p{
  font-size: 12px;
  text-align: center;
  margin: 2px;
}
/*estilo de formularios*/
.contenedor-form{
  margin: 15px;
  max-width: 500px;
  background: white;
  padding: 30px;
  border: 1px solid gold;
  width: -webkit-fill-available;

}
.contenedor-contacto,.contenedor-login,.contenedor-registrar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario label{
  text-align: left;
}

.formulario input, .formulario textarea {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
.boton-enviar,.boton-ingresar, .boton-volver,.boton-registrar{
  background-color: pink;
  border-color: gold;
  width: 100%;
  border-radius: 20px;
}

/*RECUPERAR-CONTRASEÑA*/

.container-form {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor-email {
  background-color: white;
  margin-top:20px;
  padding:20px;
}

.container-email {
max-width:100%;
display: flex;
justify-content: center;
}

input {
  border-radius: .25rem;
  }

  .campo-email{
      width: 140%;
  }

.button-enviar{
  align-items: flex-end;
}

.enviar {
  text-align: center;
 background-color:pink;
 border-color:gold;
 color:black;
 width:35%;
 border-radius: 20px;
 align-items: flex-end;
}

a {
  color:black;
}

a:hover {
  color:hotpink;
  transition: 0.3s;
  transform: scale(1.2);
  color: white;
}

.container-link{
position: relative;
float:right;
line-height: 40px;
}


/*PERFIL-USUARIO*/
.flex-column {
  border:1px solid gray;
  background-color: white;
  font-family: "Muli",sans-serif;
}
.list-group-item a {
  color:black;
}
.card-header{
  background-color: pink;
}
.card-title-username{
  border-bottom:1px solid darkgrey;
}
.card-body-info{
  border: 1px solid darkgrey;
  padding:30px;
  background-color: white;
}

/*SECCION FAQ*/
.pregunta{
  text-align: left;
}
.contenedor-FAQ {
margin-top: 15px;
background-color: white;
}
.preguntas{
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.enviar-faq{
  text-align: center;
  background-color:pink;
  border-color:gold;
  color:black;
  width:20%;
  border-radius: 20px;
  align-items: flex-end;
}


/*FOOTER*/
footer{
  border-top: 2px solid pink;
  margin-top: 10px;
  background-color: rgba(255, 99, 71, 0.5);
  flex: 0 0 auto;
}

h6{
  text-align: center;
}
.sociales{
  text-align: center;
}
.sociales button{
  background-color: pink;
  border-radius: 50%;
  border-color: gold;

}
h4{
  font-size: 15px;
  text-align: center;
}
.ubicacion p{
  font-size: 12px;
  text-align: center;
  margin: 2px;
}

/*CARRITO*/
.table {
  background-color: white;
}
.precio strong{
  position: relative;
  right: 10px;
}

.fa-shopping-cart:hover{
  transition: 0.3s;
  transform: scale(1.2);
  color:rgb(255, 4, 129);
}

/*LISTADO-PRODUCTOS*/
.btn .btn-link {
    font-weight: 400;
    color: black;
    text-decoration: none;
    text-align: center;
}
/*LISTADO-LIBROS*/

.detalle-productos{
  background-color: white;
}

.detalle-libros{
  background-color:black;
  padding: 10px;
  text-transform: uppercase;
}
.detalle-libros1{
  color:pink;
  text-align: center;
  padding: 20px;
  }

.detalle-libro{
text-align: left;
color:black;
text-transform: uppercase;
}
.detalle-libro1{
  background-color: pink;
  padding: 10px;
}


.container-cards{
  display: flex;
  justify-content: space-around;
  box-shadow: 0 5px 10px lightgray;
  border-radius: 6px;
}

.boton-comprar{
  background-color: pink;
  border-color: gold;
  width: 30%;
  border-radius: 20px;
}


.titulo-libro{
  text-transform: uppercase;
}
.precio{
  text-align: center;
}

/*LISTADO-PAPELERIA*/
/**ÚTILES ESCOLARES**/
.container-cards-1{
  display: flex;
  justify-content: space-around;
  border-radius: 6px 6px 0px 0px;
}

.titulo-mochila{
  text-transform: uppercase;
}
.titulo-cuadernos{
  text-transform: uppercase;
}

.titulo-lapices {
  text-transform: uppercase;
}

/*DETALLE-PRODUCTO*/
.container-detalle{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}
.boton-comprar {
  text-align: center;
}

ul li{
  list-style: none;
}
.boton-comprar{
  background-color: pink;
  border-color: gold;
}
